body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #313131;
}

#red{
    margin-left: 10px;
}

button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    transition: 0.1s ease;
}

button:active{
    transform: scale(0.85);
}